{{ define "main" }}



<div class="flex flex-col w-full h-fit ">
  <!-- Section Hero -->
  <section class="flex justify-center items-center h-[780px] lg:h-[600px] relative">
    {{ $recommendedPages := where .Site.RegularPages "Params.tags" "intersect" (slice "Recommended") }}
    {{ $sortedRecommended := sort $recommendedPages "Date" "desc" }}

    {{ $positions := slice

    (dict "position" "top-24 left-1/2 -translate-x-1/2 z-30" "rotate" "rotate-0")
    (dict "position" "top-10 md:top-12 left-0 md:-left-8 lg:-left-10 z-20" "rotate" "rotate-0 md:-rotate-6")
    (dict "position" "-top-4 md:top-4 right-0 md:-right-8 lg:-right-10 z-10" "rotate" "rotate-0 md:rotate-6")
    }}

    {{ range $i, $rec := first 3 $sortedRecommended }}
    {{ $style := index $positions $i }}
    {{ partial "recommended-card.html" (dict "page" $rec "position" $style.position "rotate" $style.rotate) }}
    {{ end }}
  </section>



  <!-- Section Latest Posts -->
  <section class="relative w-full col-span-4 lg:col-span-12 flex flex-col  items-center  rounded  h-fit mt-10 lg:mt-10">
    <h2 data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000" class="text-center text-xl p-1 uppercase tracking-[.6em] lg:tracking-[1.5em]">
      {{ if eq .Lang "id" }}Artikel Terbaru{{ else }}Recent Articles{{ end }}
    </h2>
    <div
      class="grid grid-cols-1 lg:grid-cols-3 lg:[&>*:nth-child(1)]:col-span-2 lg:[&>*:nth-child(7)]:col-span-2 lg:[&>*:nth-child(11)]:col-span-2 gap-3  py-2 w-full h-fit">
      {{ $sections := slice "anime" "movies" "comics" "games" "review" }}
      {{ $all := slice }}

      {{ range $sections }}
      {{ $section := . }}
      {{ $temp := slice }}

      {{ range site.RegularPages }}
      {{ $path := replace .File.Path "\\" "/" }}
      {{ if strings.HasPrefix $path (printf "posts/%s/" $section) }}
      {{ $temp = $temp | append . }}
      {{ end }}
      {{ end }}

      {{ $sorted := sort $temp "Date" "desc" }}
      {{ range first 3 $sorted }}
      {{ $all = $all | append . }}
      {{ end }}
      {{ end }}

      {{ range $i, $post := sort $all "Date" "desc" }}
  {{ $categories := $post.Params.categories }}
  {{ $isReview := in $categories "Review" }}

  {{/* Tentukan label kategori utama */}}
  {{ $label := "" }}
  {{ if $isReview }}
    {{ $label = "Review" }}
  {{ else }}
    {{ $path := replace $post.File.Path "\\" "/" }}
    {{ $label = index (split $path "/") 1 }}
  {{ end }}

  <div
    data-aos="fade-up"
    data-aos-delay="{{ mul $i 150 }}"
    data-aos-duration="1600"
    class="relative group flex flex-col justify-center w-full h-auto">
    {{ partial "card-latest.html" (dict "page" $post "index" $i) }}

  </div>
{{ end }}

    </div>
    <a href="/posts/" data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
      class="inline-flex group items-center gap-2 text-sm font-medium text-gray-900 dark:text-gray-100 hover:text-gray-950 hover:dark:text-white border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
      <!-- + dengan efek rotate saat hover -->
      <span class="inline-block transition duration-300 group-hover:rotate-90">+</span>
      <!-- hanya teks yang di-underline -->
      <span data-aos="fade-up" class="">{{ if eq .Lang "id"}}Lihat Semua Artikel{{ else }}View All Articles{{ end }}</span>
    </a>

  </section>





<!-- Section Popular -->
<section id="popular-test" class="relative w-full col-span-4 lg:col-span-12 flex flex-col items-center  rounded  h-fit mt-10">
  <h2 data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000" class="text-center text-xl p-1 uppercase tracking-[.4em] lg:tracking-[1.5em]">
   {{ if eq .Lang "id" }}Artikel Populer{{ else }}Popular Articles{{ end }}
  </h2>

  <div id="popular-container" class="relative grid grid-cols-1 lg:grid-cols-3 lg:[&>*:nth-child(1)]:col-span-2 gap-3 py-2 w-full h-fit">

    {{ $popularPaths := site.Data.popular }}
    {{ $popularPages := slice }}

    {{ range $popularPaths }}
      {{ $target := trim . "/" }}
      {{ $segments := split $target "/" }}

      {{/* Filter hanya path posts/category/slug/ (len > 2) */}}
      {{ if and (eq (index $segments 0) "posts") (gt (len $segments) 2) }}
        {{ $found := false }}

        {{ range site.RegularPages }}
  {{ $rel := trim .RelPermalink "/" }}
  {{ $relNoLang := replaceRE "^([a-z]{2}/)?" "" $rel }}
  {{ if eq $relNoLang $target }}
    {{ $popularPages = $popularPages | append . }}
    {{ $found = true }}
  {{ end }}
{{ end }}


        {{ if not $found }}
          <p class="text-red-500 text-sm">⚠️ Tidak ketemu di Hugo: {{ . }}</p>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ $subset := first 5 $popularPages }}

    {{ if gt (len $subset) 0 }}
      {{ range $i, $page := $subset }}
      <ul class="relative group flex flex-col justify-center w-full h-auto">
        <li data-aos="fade-up" data-aos-delay="{{ mul $i 100 }}" data-aos-duration="2000"
          class="relative popular-html flex flex-col w-full h-full bg-darklight-card overflow-hidden  rounded">

          <a href="{{ $page.RelPermalink }}" class="bg-cover w-full h-full overflow-hidden transition duration-500 ease-in-out">
            {{ with $page.Params.image }}
            <img loading="lazy" src="{{ . }}" alt="Gambar {{ $page.Title }}"
              class="w-full h-[360px] object-cover  rounded -t brightness-75 hover:brightness-100 transition duration-300 ease-in-out" />
            {{ end }}
          </a>

          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="{{ mul $i 100 }}" data-aos-duration="2000"
            class="w-full lg:w-[70%] h-[60%] lg:h-[70%] group absolute bottom-0 left-0  rounded-tr font-light dark:font-extralight flex flex-col items-start justify-start gap-2 p-4 bg-darklight-card">

            <h2 class="w-fit inline-block lg:hidden"> —0{{ add $i 1 }}</h2>
            <h2 class="w-[80%] lg:w-full h-fit text-2xl line-clamp-3 opacity-100 lg:opacity-0 group-hover:lg:opacity-100 group-hover:z-10 transition duration-500 ease-in-out">
              <a href="{{ $page.RelPermalink }}" class="hover:underline break-words" data-tippy-content="{{ $page.Title }}">{{ $page.Title }}</a>
            </h2>
            <h2 class="flex justify-between opacity-100 lg:opacity-0 group-hover:lg:opacity-100 group-hover:z-10 transition duration-500 ease-in-out gap-4 text-sm line-clamp-1 uppercase">
              {{ range $page.Params.categories }}
              <a href="{{ "categories/" | relLangURL }}{{ . | urlize }}" class="hover:underline">
                {{ . }}
              </a>
              {{ end }}
            </h2>
            <p class="bottom-4 items-end justify-end w-full left-6 z-10 text-xl h-full flex-1 flex gap-0 opacity-100 lg:opacity-0 group-hover:lg:opacity-100 group-hover:z-10 transition duration-500 ease-in-out">
              <span>—</span>{{ partial "dateNew.html" $page }}
            </p>
            <h2 class="absolute inset-0 text-5xl w-1 h-1 lg:w-full lg:h-full flex items-center justify-center text-gray-500 dark:text-gray-700 font-bold opacity-0 lg:opacity-100 dark:lg:opacity-100 group-hover:lg:opacity-0 group-hover:-z-10 transition duration-500 ease-in-out">
              #{{ add $i 1 }}
            </h2>
          </div>
        </li>
      </ul>
      {{ end }}
    {{ end }}
  </div>
</section>





  <!-- Section Discover More -->
  <section class="relative w-full col-span-4 lg:col-span-12 flex flex-col  items-center  rounded  h-fit mt-10">
    <h2 data-aos="fade-up" data-aos-delay="100" data-aos-duration="2000" class="text-center text-xl p-1 uppercase {{ if eq .Lang "id"}} tracking-[.2em] lg:tracking-[.6] {{ else }} tracking-[.6em] lg:tracking-[1.5em] {{ end }}">
      {{ if eq .Lang "id" }}Temukan Lebih Banyak{{ else }}Discover More{{ end }}
    </h2>
    <!-- Scrollable horizontal list gabungan 3 terbaru dari tiap kategori -->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-3  py-2 w-full h-fit">
      {{ $posts := slice }}
      {{ range site.RegularPages }}
      {{ $path := replace .File.Path "\\" "/" }}
      {{ if strings.HasPrefix $path "posts/anime/" }}
      {{ $posts = $posts | append . }}
      {{ end }}
      {{ end }}

      {{ $posts = sort $posts "Date" "desc" }}

      {{ if gt (len $posts) 3 }}
      {{ $discoverPosts := first 4 $posts }}

      {{ $img0 := index $discoverPosts 0 }}
      {{ $img1 := index $discoverPosts 1 }}
      {{ $img2 := index $discoverPosts 2 }}
      {{ $img3 := index $discoverPosts 3 }}
      {{ $discoverPage := site.GetPage "section" "posts/anime" }}
      <div class="relative group flex flex-col justify-center left-10 w-[90%] h-auto">
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
          class="relative flex flex-col w-full h-[360px]  rounded  z-10 bg-darklight-card">

          <!-- Bagian gambar -->
          <a href="{{ $discoverPage.RelPermalink }}" class="w-full h-full absolute left-4 bg-cover" >
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
              class="w-[98%] h-[95%]  rounded  overflow-hidden absolute bottom-[2px] right-6">
              <img loading="lazy" src="{{ $img3.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img3.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000"
              class="w-[98%] h-[85%]  rounded  overflow-hidden absolute bottom-[2px] right-10">
              <img loading="lazy" src="{{ $img2.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img2.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000"
              class="w-[98%] h-[75%]  rounded  overflow-hidden absolute bottom-[2px] right-14">
              <img loading="lazy" src="{{ $img1.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img1.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
              class="w-[98%] h-[65%]  rounded  overflow-hidden absolute bottom-[2px] right-16">
              <img loading="lazy" src="{{ $img0.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img0.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
          </a>
          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000"
            class="w-full h-[55%] absolute z-10 flex flex-col justify-between bottom-0 -left-8 right-8  rounded -t-[32px] font-light dark:font-extralight bg-darklight-card">
            <h2 data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000" class="w-full h-full text-2xl p-4 line-clamp-4 lg:line-clamp-4">
              <a href="{{ $discoverPage.RelPermalink }}" data-tippy-content="{{ if eq .Lang "id" }}Tampilkan semua Anime {{ else }}Show all {{ $discoverPage.Title }}{{ end }}" class="hover:underline uppercase break-words">
              {{ if eq .Lang "id"}}Anime{{ else }}  {{ $discoverPage.Title }}{{ end }}</a>
            </h2>
            <a href="{{ $discoverPage.RelPermalink }}"
              class="flex flex-col group items-end justify-end gap-2 w-full h-fit px-4 py-0  text-sm font-medium">
              <!-- + dengan efek rotate saat hover -->
              <h2
                class="mb-4  border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
                <span class="inline-block transition-transform duration-300 group-hover:rotate-90">+</span>
                <!-- hanya teks yang di-underline -->
                <span class="">{{ if eq .Lang "id"}}Lihat Semua{{ else }}View All{{ end }}</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
      {{ end }}

      {{ $posts := slice }}
      {{ range site.RegularPages }}
      {{ $path := replace .File.Path "\\" "/" }}
      {{ if strings.HasPrefix $path "posts/comics/" }}
      {{ $posts = $posts | append . }}
      {{ end }}
      {{ end }}

      {{ $posts = sort $posts "Date" "desc" }}

      {{ if gt (len $posts) 3 }}
      {{ $discoverPosts := first 4 $posts }}

      {{ $img0 := index $discoverPosts 0 }}
      {{ $img1 := index $discoverPosts 1 }}
      {{ $img2 := index $discoverPosts 2 }}
      {{ $img3 := index $discoverPosts 3 }}
      {{ $discoverPage := site.GetPage "section" "posts/comics" }}
      <div class="relative group flex flex-col justify-center left-10 w-[90%] h-auto">
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
          class="relative flex flex-col w-full h-[360px]  rounded  z-10 bg-darklight-card">

          <!-- Bagian gambar -->
          <a href="{{ $discoverPage.RelPermalink }}" class="w-full h-full absolute left-4 bg-cover" >
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
              class="w-[98%] h-[95%]  rounded  overflow-hidden absolute bottom-[2px] right-6">
              <img loading="lazy" src="{{ $img3.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img3.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000"
              class="w-[98%] h-[85%]  rounded  overflow-hidden absolute bottom-[2px] right-10">
              <img loading="lazy" src="{{ $img2.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img2.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000"
              class="w-[98%] h-[75%]  rounded  overflow-hidden absolute bottom-[2px] right-14">
              <img loading="lazy" src="{{ $img1.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img1.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
              class="w-[98%] h-[65%]  rounded  overflow-hidden absolute bottom-[2px] right-16">
              <img loading="lazy" src="{{ $img0.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img0.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
          </a>
          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000"
            class="w-full h-[55%] absolute z-10 flex flex-col justify-between bottom-0 -left-8 right-8  rounded -t-[32px] font-light dark:font-extralight bg-darklight-card">
            <h2 data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000" class="w-full h-full text-2xl p-4 line-clamp-4 lg:line-clamp-4">
              <a href="{{ $discoverPage.RelPermalink }}" data-tippy-content="{{ if eq .Lang "id" }}Tampilkan semua Komik {{ else }}Show all {{ $discoverPage.Title }}{{ end }}" class="hover:underline uppercase break-words">{{ $discoverPage.Title }}</a>
            </h2>
            <a href="{{ $discoverPage.RelPermalink }}"
              class="flex flex-col group items-end justify-end gap-2 w-full h-fit px-4 py-0  text-sm font-medium bg-darklight-card">
              <!-- + dengan efek rotate saat hover -->
              <h2
                class="mb-4  border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
                <span class="inline-block transition-transform duration-300 group-hover:rotate-90">+</span>
                <!-- hanya teks yang di-underline -->
                <span class="">{{ if eq .Lang "id"}}Lihat Semua{{ else }}View All{{ end }}</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
      {{ end }}

      {{ $posts := slice }}
      {{ range site.RegularPages }}
      {{ $path := replace .File.Path "\\" "/" }}
      {{ if strings.HasPrefix $path "posts/movies/" }}
      {{ $posts = $posts | append . }}
      {{ end }}
      {{ end }}

      {{ $posts = sort $posts "Date" "desc" }}

      {{ if gt (len $posts) 3 }}
      {{ $discoverPosts := first 4 $posts }}

      {{ $img0 := index $discoverPosts 0 }}
      {{ $img1 := index $discoverPosts 1 }}
      {{ $img2 := index $discoverPosts 2 }}
      {{ $img3 := index $discoverPosts 3 }}
      {{ $discoverPage := site.GetPage "section" "posts/movies" }}
     <div class="relative group flex flex-col justify-center left-10 w-[90%] h-auto">
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
          class="relative flex flex-col w-full h-[360px] rounded z-10 bg-darklight-card">

          <!-- Bagian gambar -->
          <a href="{{ $discoverPage.RelPermalink }}" class="w-full h-full absolute left-4 bg-cover" >
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
              class="w-[98%] h-[95%]  rounded  overflow-hidden absolute bottom-[2px] right-6">
              <img loading="lazy" src="{{ $img3.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img3.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000"
              class="w-[98%] h-[85%]  rounded  overflow-hidden absolute bottom-[2px] right-10">
              <img loading="lazy" src="{{ $img2.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img2.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000"
              class="w-[98%] h-[75%]  rounded  overflow-hidden absolute bottom-[2px] right-14">
              <img loading="lazy" src="{{ $img1.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img1.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
              class="w-[98%] h-[65%]  rounded  overflow-hidden absolute bottom-[2px] right-16">
              <img loading="lazy" src="{{ $img0.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img0.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
          </a>
          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000"
            class="w-full h-[55%] absolute z-10 flex flex-col justify-between bottom-0 -left-8 right-8  rounded -t-[32px] font-light dark:font-extralight bg-darklight-card">
            <h2 data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000" class="w-full h-full text-2xl p-4 line-clamp-4 lg:line-clamp-4">
              <a href="{{ $discoverPage.RelPermalink }}" data-tippy-content="{{ if eq .Lang "id" }}Tampilkan semua {{ $discoverPage.Title }} {{ else }}Show all {{ $discoverPage.Title }}{{ end }}" class="hover:underline uppercase break-words">
                {{ if eq .Lang "id"}}Film{{ else }}  {{ $discoverPage.Title }}{{ end }}
              </a>
            </h2>
            <a href="{{ $discoverPage.RelPermalink }}"
              class="flex flex-col group items-end justify-end gap-2 w-full h-fit px-4 py-0  text-sm font-medium">
              <!-- + dengan efek rotate saat hover -->
              <h2
                class="mb-4  border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
                <span class="inline-block transition-transform duration-300 group-hover:rotate-90">+</span>
                <!-- hanya teks yang di-underline -->
                <span class="">{{ if eq .Lang "id"}}Lihat Semua{{ else }}View All{{ end }}</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
      {{ end }}

      {{ $posts := slice }}
      {{ range site.RegularPages }}
      {{ $path := replace .File.Path "\\" "/" }}
      {{ if strings.HasPrefix $path "posts/games/" }}
      {{ $posts = $posts | append . }}
      {{ end }}
      {{ end }}

      {{ $posts = sort $posts "Date" "desc" }}

      {{ if gt (len $posts) 3 }}
      {{ $discoverPosts := first 4 $posts }}

      {{ $img0 := index $discoverPosts 0 }}
      {{ $img1 := index $discoverPosts 1 }}
      {{ $img2 := index $discoverPosts 2 }}
      {{ $img3 := index $discoverPosts 3 }}
      {{ $discoverPage := site.GetPage "section" "posts/games" }}
       <div class="relative group flex flex-col justify-center left-10 w-[90%] h-auto">
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
          class="relative flex flex-col w-full h-[360px]  rounded  z-10 bg-darklight-card">

          <!-- Bagian gambar -->
          <a href="{{ $discoverPage.RelPermalink }}" class="w-full h-full absolute left-4 bg-cover" >
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
              class="w-[98%] h-[95%]  rounded  overflow-hidden absolute bottom-[2px] right-6">
              <img loading="lazy" src="{{ $img3.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img3.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000"
              class="w-[98%] h-[85%]  rounded  overflow-hidden absolute bottom-[2px] right-10">
              <img loading="lazy" src="{{ $img2.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img2.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000"
              class="w-[98%] h-[75%]  rounded  overflow-hidden absolute bottom-[2px] right-14">
              <img loading="lazy" src="{{ $img1.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img1.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
              class="w-[98%] h-[65%]  rounded  overflow-hidden absolute bottom-[2px] right-16">
              <img loading="lazy" src="{{ $img0.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img0.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
          </a>
          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000"
            class="w-full h-[55%] absolute z-10 flex flex-col justify-between bottom-0 -left-8 right-8  rounded -t-[32px] font-light dark:font-extralight bg-darklight-card">
            <h2 data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000" class="w-full h-full text-2xl p-4 line-clamp-4 lg:line-clamp-4">
              <a href="{{ $discoverPage.RelPermalink }}" data-tippy-content="{{ if eq .Lang "id" }}Tampilkan semua Game {{ else }}Show all {{ $discoverPage.Title }}{{ end }}" class="hover:underline uppercase break-words">
                {{ if eq .Lang "id"}}Game{{ else }}  {{ $discoverPage.Title }}{{ end }}
              </a>
            </h2>
            <a href="{{ $discoverPage.RelPermalink }}"
              class="flex flex-col group items-end justify-end gap-2 w-full h-fit px-4 py-0  text-sm font-medium">
              <!-- + dengan efek rotate saat hover -->
              <h2
                class="mb-4  border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
                <span class="inline-block transition-transform duration-300 group-hover:rotate-90">+</span>
                <!-- hanya teks yang di-underline -->
                <span class="">{{ if eq .Lang "id"}}Lihat Semua{{ else }}View All{{ end }}</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
      {{ end }}


{{ $categoryName := "review" }}
{{ if eq .Lang "id" }}
  {{ $categoryName = "ulasan" }}
{{ end }}

      {{ $discoverPosts := slice }}
      {{ range site.RegularPages }}
      {{ $lowerCategories := slice }}
      {{ range .Params.categories }}
      {{ $lowerCategories = $lowerCategories | append (lower .) }}
      {{ end }}
      {{ if in $lowerCategories $categoryName }}

      {{ $discoverPosts = $discoverPosts | append . }}
      {{ end }}
      {{ end }}

      {{ $discoverPosts = sort $discoverPosts "Date" "desc" }}

      {{ if ge (len $discoverPosts) 4 }}
      {{ $img0 := index $discoverPosts 0 }}
      {{ $img1 := index $discoverPosts 1 }}
      {{ $img2 := index $discoverPosts 2 }}
      {{ $img3 := index $discoverPosts 3 }}
      {{ $discoverPage := site.GetPage (printf "/categories/%s" $categoryName) }}

 <div class="relative group flex flex-col justify-center left-10 w-[90%] h-auto">
        <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
          class="relative flex flex-col w-full h-[360px]  rounded  z-10 bg-darklight-card">

          <!-- Bagian gambar -->
          <a href="{{ $discoverPage.RelPermalink }}" class="w-full h-full absolute left-4 bg-cover" >
            <div data-aos="fade-up" data-aos-delay="250" data-aos-duration="2000"
              class="w-[98%] h-[95%]  rounded  overflow-hidden absolute bottom-[2px] right-6">
              <img loading="lazy" src="{{ $img3.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img3.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000"
              class="w-[98%] h-[85%]  rounded  overflow-hidden absolute bottom-[2px] right-10">
              <img loading="lazy" src="{{ $img2.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img2.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="700" data-aos-duration="2000"
              class="w-[98%] h-[75%]  rounded  overflow-hidden absolute bottom-[2px] right-14">
              <img loading="lazy" src="{{ $img1.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img1.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
            <div data-aos="fade-up" data-aos-delay="800" data-aos-duration="2000"
              class="w-[98%] h-[65%]  rounded  overflow-hidden absolute bottom-[2px] right-16">
              <img loading="lazy" src="{{ $img0.Params.image | default " /images/default.png" }}"
                alt="Gambar {{ $img0.Title }}"
                class="w-full h-full left-0 top-0  object-cover brightness-75 hover:brightness-100 transition duration-500 ease-in-out" />
            </div>
          </a>
          <!-- Bagian teks -->
          <div data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000"
            class="w-full h-[55%] absolute z-10 flex flex-col justify-between bottom-0 -left-8 right-8  rounded -t-[32px] font-light dark:font-extralight bg-darklight-card">
            <h2 data-aos="fade-up" data-aos-delay="600" data-aos-duration="2000" class="w-full h-full text-2xl p-4 line-clamp-4 lg:line-clamp-4">
              <a href="{{ $discoverPage.RelPermalink }}" data-tippy-content="{{ if eq .Lang "id" }}Tampilkan semua Ulasan {{ else }}Show all {{ $discoverPage.Title }}{{ end }}" class="hover:underline uppercase break-words">
                {{ if eq .Lang "id"}}Ulasan{{ else }}  {{ $discoverPage.Title }}{{ end }}
              </a>
            </h2>
            <a href="{{ $discoverPage.RelPermalink }}"
              class="flex flex-col group items-end justify-end gap-2 w-full h-fit px-4 py-0  text-sm font-medium">
              <!-- + dengan efek rotate saat hover -->
              <h2
                class="mb-4  border-b border-gray-800 dark:border-gray-400 hover:border-gray-950 hover:dark:border-white transition">
                <span class="inline-block transition-transform duration-300 group-hover:rotate-90">+</span>
                <!-- hanya teks yang di-underline -->
                <span class="">{{ if eq .Lang "id"}}Lihat Semua{{ else }}View All{{ end }}</span>
              </h2>
            </a>
          </div>
        </div>
      </div>
      {{ end }}

    </div>

  </section>




</div>





{{ end }}