{{ $page := .page }}
{{ $entries := index site.Menus "main" }}

{{ with $entries }}

  <!-- MOBILE BAR -->
  <div class="block lg:hidden">
    {{ $bottomItems := where . "Identifier" "in" (slice "animeBtn" "reviewBtn" "homeBtn" "notifBtn" "moreBtn") }}
    <nav class="fixed bottom-0 w-full bg-gray-900 text-white flex justify-around">
      <ul class="flex w-full justify-around items-center">
        {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" $bottomItems "mode" "mobile") }}
      </ul>
    </nav>
  </div>

  <!-- MOBILE MODAL -->
  <div class="block lg:hidden">
    <div id="mobileMenuModal2" class="fixed inset-0 bg-black/80 hidden z-50">
      <div class="bg-gray-900 text-white  rounded -t p-4">
        <ul class="grid grid-cols-3 gap-4">
          {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "mode" "modal") }}
        </ul>
        <button class="closeMobileMenu mt-4 px-4 py-2 bg-gray-800  rounded ">Close</button>
      </div>
    </div>
  </div>

  <!-- DESKTOP -->
  <div class="hidden lg:block">
    <nav class="w-full">
      <ul class="flex flex-col gap-2">
        {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "mode" "desktop") }}
      </ul>
    </nav>
  </div>

{{ end }}
