{{ $menuID := .menuID }}
{{ $allEntries := index site.Menus $menuID }}
{{ $bottomItems := where $allEntries "Identifier" "in" (slice "animeBtn" "reviewBtn" "homeBtn" "notifBtn" "moreBtn") }}

{{ if $bottomItems }}
<nav id="navMobile" class="bg-white dark:bg-gray-900  w-full px-6 gap-1 block lg:hidden z-[666] lg:-z-[999] text-gray-800 dark:text-gray-400">
  <ul class="flex justify-center items-center py-1">
    {{ range $bottomItems }}
      {{ partial "navitem.html" (dict
        "item" .
        "idSuffix" "-mobile"
        "classes" "relative flex flex-col items-center justify-center gap-1 text-[0.65rem] py-1 px-2 bg-gray-300/0 dark:bg-gray-900/0 hover:bg-gray-300 hover:dark:bg-gray-800/50 text-gray-800 dark:text-gray-400 hover:text-conime-400 dark:hover:text-conime-500 transition duration-300"
        "liClasses" "flex items-center justify-center"
        "notifBadgePosition" "top-1 left-[36px]"
      ) }}
    {{ end }}
  </ul>
</nav>
{{ end }}
