{{ $page := .page }}
{{ $menuID := .menuID }}
{{ $allEntries := index site.Menus $menuID }}

{{ $bottomItems := where $allEntries "Identifier" "in" (slice "animeBtn" "reviewBtn" "homeBtn" "notifBtn" "moreBtn") }}

{{ with $bottomItems }}
<nav id="navMobile" class="bg-gray-900 w-full px-6 gap-1 block lg:hidden z-[999] lg:-z-[999] text-white border-t border-gray-800">
  <ul class="flex justify-center items-center py-1">
    {{ range . }}
      {{ $idSuffix := "-mobile" }}
      {{ $isNotif := eq .Identifier "notifBtn" }}
      {{ if in (slice "notifBtn" "moreBtn" "lessBtn") .Identifier }}
        <li class="w-full group flex items-center justify-center">
          <button type="button" id="{{ .Identifier }}{{ $idSuffix }}" class="relative flex flex-col items-center justify-center gap-1 text-[0.65rem] py-1 px-2 text-gray-300 group-hover:text-conime-500 transition duration-300">
            <span class="block w-6 h-6 group-hover:scale-110 transition duration-500 ease-in-out">
              {{ with .Params.svg }}{{ . | safeHTML }}{{ end }}
            </span>
            <span class="text-[0.6rem] text-center">{{ .Name }}</span>
            {{ if $isNotif }}
              <div class="notifBadge absolute hidden top-2 left-[38px]">
                <div class="relative flex justify-center items-center">
                  <div class="w-3 h-3 opacity-0 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600"></div>
                  <div class="w-[10px] h-[10px] absolute opacity-0 left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600"></div>
                  <div class="w-2 h-2 absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 animate-pulse rounded-full bg-conime-500 dark:bg-conime-600"></div>
                </div>
              </div>
            {{ end }}
          </button>
        </li>
      {{ else }}
        <li class="w-full group flex items-center justify-center">
          <a href="{{ .URL | safeURL }}" class="relative flex flex-col items-center justify-center gap-1 text-[0.65rem] py-1 px-2 text-gray-300 group-hover:text-conime-500 transition duration-300">
            <span class="block w-6 h-6 group-hover:scale-110 transition duration-500 ease-in-out">
              {{ with .Params.svg }}{{ . | safeHTML }}{{ end }}
            </span>
            <span class="text-[0.6rem] text-center">{{ .Name }}</span>
          </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
{{ end }}
