{{ $page := .page }}
{{ $menuID := .menuID }}
{{ $allEntries := index site.Menus $menuID }}

{{ with $allEntries }}
<div id="mobileMenuModal" class="fixed inset-0 bg-black/80 hidden z-50">
  <div class="bg-gray-900 text-white rounded-t-xl p-4">
    <ul class="grid grid-cols-3 gap-4">
      {{ partial "inline/menu/walk.html" (dict "page" $page "menuEntries" . "mode" "modal") }}
    </ul>
    <button class="closeMobileMenu mt-4 px-4 py-2 bg-gray-800 rounded">Close</button>
  </div>
</div>
{{ end }}
