
  <script type="application/json" id="post-metadata">
[
{{- $pages := where .Site.RegularPages "Section" "posts" -}}
{{- range $i, $page := $pages }}
  {{- if gt $i 0 }},{{ end }}
  {
    "url": "{{ $page.RelPermalink }}",
    "permalink": "{{ $page.RelPermalink }}",
    "title": {{ $page.Title | plainify | jsonify }},
    "image": "{{ $page.Params.image }}",
    "categories": {{ if $page.Params.categories }}{{ $page.Params.categories | jsonify }}{{ else }}[]{{ end }},
    "date": "{{ $page.Date.Format "2006-01-02" }}"
  }
{{- end }}
]
</script>

